body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #1F2739;
    position: relative;
    overflow-x: hidden;
    padding-top: 60px;
}

body,
html {
    height: 100%;
}

.header {
    height: 60px;
    width: 100%;
    background-color: #1a1a1a;
    padding-right: 15px;
    padding-left: 45px;
    position: fixed;
    top: 0;
    z-index: 4;
}

.header__text {
    font-size: 24px;
    float: left;
    line-height: 60px;
    margin-left: 15px;
    color: #fff;
}

.header__userContainer {
    float: right;
    min-width: 150px;
    margin-top: 9px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    color: #1a1a1a;
}

.header__userContainer__image {
    width: 30px;
    border-radius: 50%;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

.pageContainer {
    height: 100%;
    padding: 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-wrapper {
    z-index: 1;
    width: 0;
    margin-top: 60px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: calc(100% - 60px);
}

    .sidebar-wrapper.toggled {
        width: 220px;
    }

    .sidebar-wrapper::-webkit-scrollbar {
        display: none;
    }


/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebar-nav li {
        position: relative;
        line-height: 20px;
        display: inline-block;
        width: 100%;
    }

        .sidebar-nav li:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;
            width: 3px;
            background-color: #1c1c1c;
            -webkit-transition: width .2s ease-in;
            -moz-transition: width .2s ease-in;
            -ms-transition: width .2s ease-in;
            transition: width .2s ease-in;
        }

        .sidebar-nav li:first-child:before {
            background-color: #ec1b5a;
        }

        .sidebar-nav li:nth-child(2):before {
            background-color: #79aefe;
        }

        .sidebar-nav li:nth-child(3):before {
            background-color: #314190;
        }

        .sidebar-nav li:nth-child(4):before {
            background-color: #279636;
        }

        .sidebar-nav li:nth-child(5):before {
            background-color: #7d5d81;
        }

        .sidebar-nav li:nth-child(6):before {
            background-color: #ead24c;
        }

        .sidebar-nav li:nth-child(7):before {
            background-color: #2d2366;
        }

        .sidebar-nav li:nth-child(8):before {
            background-color: #35acdf;
        }

        .sidebar-nav li:hover:before,
        .sidebar-nav li.open:hover:before,
        .sidebar-nav li.active:before {
            width: 100%;
            -webkit-transition: width .2s ease-in;
            -moz-transition: width .2s ease-in;
            -ms-transition: width .2s ease-in;
            transition: width .2s ease-in;
        }

        .sidebar-nav li a {
            display: block;
            color: #ddd;
            text-decoration: none;
            padding: 10px 15px 10px 30px;
        }

            .sidebar-nav li a:hover,
            .sidebar-nav li a:active,
            .sidebar-nav li a:focus,
            .sidebar-nav li.open a:hover,
            .sidebar-nav li.open a:active,
            .sidebar-nav li.open a:focus {
                color: #fff;
                text-decoration: none;
                background-color: transparent;
            }

    .sidebar-nav .dropdown-menu {
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0;
        border-radius: 0;
        border: none;
        background-color: #222;
        box-shadow: none;
    }

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
    position: fixed;
    top: 14px;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
    z-index: 5;
}

    .hamburger:hover,
    .hamburger:focus,
    .hamburger:active {
        outline: none;
    }

    .hamburger.is-closed:before {
        content: '';
        display: block;
        width: 100px;
        font-size: 14px;
        color: #fff;
        line-height: 32px;
        text-align: center;
        opacity: 0;
        -webkit-transform: translate3d(0,0,0);
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-closed:hover:before {
        opacity: 1;
        display: block;
        -webkit-transform: translate3d(-100px,0,0);
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-closed .hamb-top,
    .hamburger.is-closed .hamb-middle,
    .hamburger.is-closed .hamb-bottom,
    .hamburger.is-open .hamb-top,
    .hamburger.is-open .hamb-middle,
    .hamburger.is-open .hamb-bottom {
        position: absolute;
        left: 0;
        height: 4px;
        width: 100%;
    }

    .hamburger.is-closed .hamb-top,
    .hamburger.is-closed .hamb-middle,
    .hamburger.is-closed .hamb-bottom {
        background-color: #fff;
    }

    .hamburger.is-closed .hamb-top {
        top: 5px;
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-closed .hamb-middle {
        top: 50%;
        margin-top: -2px;
    }

    .hamburger.is-closed .hamb-bottom {
        bottom: 5px;
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-closed:hover .hamb-top {
        top: 0;
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-closed:hover .hamb-bottom {
        bottom: 0;
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-open .hamb-top,
    .hamburger.is-open .hamb-middle,
    .hamburger.is-open .hamb-bottom {
        background-color: #fff;
    }

    .hamburger.is-open .hamb-top,
    .hamburger.is-open .hamb-bottom {
        top: 50%;
        margin-top: -2px;
    }

    .hamburger.is-open .hamb-top {
        -webkit-transform: rotate(45deg);
        -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    }

    .hamburger.is-open .hamb-middle {
        display: none;
    }

    .hamburger.is-open .hamb-bottom {
        -webkit-transform: rotate(-45deg);
        -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    }

    .hamburger.is-open:before {
        content: '';
        display: block;
        width: 100px;
        font-size: 14px;
        color: #fff;
        line-height: 32px;
        text-align: center;
        opacity: 0;
        -webkit-transform: translate3d(0,0,0);
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-open:hover:before {
        opacity: 1;
        display: block;
        -webkit-transform: translate3d(-100px,0,0);
        -webkit-transition: all .35s ease-in-out;
    }

.pointered {
    cursor: pointer;
}

.thSortable {
    display: table;
}

th:hover .thSortable__icon {
    background-color: #FFF842;
    color: #403E10;
    font-weight: bold;
    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
    transform: translate3d(6px, -6px, 0);
    transition-delay: 0;
    transition-duration: 0.4s;
    transition-property: all;
}

.thSortable__label {
    display: table-cell;
    vertical-align: middle;
    padding-right: 6px;
    text-align: center;
    color: #185875;
}

.thSortable__icon {
    display: table-cell;
    font-size: 10px;
    width: 1%;
    color: #185875;
}

.thSortable__icon--active {
    color: #4DC3FA;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 15px;
}

tbody > tr:nth-child(odd) {
    background-color: #323C50;
}

tbody > tr:nth-child(even) {
    background-color: #2C3446;
}

tbody {
    border-color: inherit;
}

    tbody > tr:hover {
        background-color: #464A52;
    }

tr > td {
    color: #A7A1AE;
    box-shadow: 0 2px 2px -2px #0E1119;
}

    tr > td:hover {
        background-color: #FFF842;
        color: #403E10;
        font-weight: bold;
        box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
        transform: translate3d(6px, -6px, 0);
        transition-delay: 0;
        transition-duration: 0.4s;
        transition-property: all;
    }

    tr > td:first-child {
        color: #FB667A;
    }

.table {
    border-collapse: separate;
    border-spacing: 2px;
}

    .table > tbody > tr > td {
        border: none;
        vertical-align: middle;
    }

    .table > thead > tr > th {
        border-bottom: none;
    }

.pagination > li > a {
    background-color: #323C50;
    border: 1px solid #2C3446;
    color: #4DC3FA;
}

    .pagination > li > a.active {
        background-color: #FFF842;
        color: #FB667A;
    }

    .pagination > li > a:hover, .pagination > li > a:focus {
        background-color: #FFF842;
        border-color: #FFF842;
        color: #403E10;
        font-weight: bold;
        box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
        transform: translate3d(6px, -6px, 0);
        transition-delay: 0;
        transition-duration: 0.4s;
        transition-property: all;
    }

    .pagination > li > a.active:hover {
        color: #FB667A;
    }

input,
input::-webkit-input-placeholder,
textarea,
textarea::-webkit-input-placeholder,
select.form-control {
    font-size: 11px;
    padding-top: 3px;
}

.main-login {
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-control {
    height: auto !important;
    padding: 8px 12px !important;
}

.input-group-addon {
    background-color: #2C3446;
    color: #4DC3FA;
    border: 1px solid #2C3446;
}

.main-center {
    margin: 0 auto;
    max-width: 500px;
    padding: 10px 40px;
    background: #323C50;
    color: #FFF;
    text-shadow: none;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
}

span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
}


.login-register {
    font-size: 11px;
    text-align: center;
}

textarea {
    resize: none;
}

.red-star::after {
    content: "*";
    color: red;
}

.flag--it {
}

.flag--de {
}

.flag--it {
}

.pageContainer.toggled {
    margin-left: 220px;
}

.saveButton {
    background-color: #4DC3FA;
    width: 100%;
}

    .saveButton:hover {
        background-color: #FFF842;
        border-color: #FFF842;
        color: #403E10;
        font-weight: bold;
        box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
        transform: translate3d(6px, -6px, 0);
        transition-delay: 0;
        transition-duration: 0.4s;
        transition-property: all;
    }