<div class="col-xs-12" ng-if="pagerCtrl.indexes.length > 0">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a ng-click="pagerCtrl.previous();"
                   class="pointered">Előző</a>
            </li>
            <li ng-repeat="index in pagerCtrl.indexes">
                <a ng-click="pagerCtrl.setPageIndex(index);"
                   ng-bind="index + 1"
                   ng-class="{'active':pagerCtrl.pagerConfig.pageIndex === index}"
                   class="pointered"></a>
            </li>
            <li>
                <a ng-click="pagerCtrl.next();"
                   class="pointered">
                    Következő
                </a>
            </li>
        </ul>
    </nav>
</div>